* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f7f9fd;
}

#nav{
    margin-top: 2em;
    margin-bottom: 2em;
  
}



#nav a:not(.logo):hover {
  color: #414a67;
  filter: brightness(120%);
}
#nav a:not(.logo) {
    text-decoration: none;
    color: inherit;
    line-height: 1;
  }

  #nav .logo {
    text-decoration: none;
    color: #18272F;
    font-weight: 700;
    position: relative;
    font-family: 'Poppins', sans-serif;
  }

  #nav .logo::before {
    content: '';
  background-color:#414a67;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
  }


#card-header{
	background-color: #414a67;
	color: white;
} 
.wrapper{
    width: 90%;
    font-size: 16px;
    max-width: 43.75em;
    margin: 1em auto;
}
.container{
    width: 100%;
    margin-top: em;
}
.sub-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}
.flex{
    display: flex;
    align-items: center;
}

.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper h3{
    columns: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;
}

.container input{
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400; 
    margin-bottom: 0.6em;
}

.container input:focus{
    border-color: #414a67;
}

#total-amount{
    margin-top: 1em;
  }
  
.-container,
.user-amount-container {
    background-color: #ffff;
    padding: 1.25em 0.9em; 
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgb(28, 0,80, 0.06);
}

#output-container{
    background-color: #414a67;
    color: #ffff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgb(28, 0,80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
}
.output-container p {
    font-weight: 500;
    margin-bottom: 0.6em;
}

#output-container span{
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
}
#submit{
    font-size: 1em;
    margin-top: 1em;
    background-color: #414a67;
    border: none;
    outline: none;
    color: #ffff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
}

.list{
    background-color: #ffff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgb(28, 0,80, 0.06);
    border-radius: 0.6em;
}

.hide{
    display: none;
}

.error{
    color: #ff465a;
}


/* Firefox ==> Hide Arrow from number input */ 
input[type=number] {
    -moz-appearance: textfield;
  }

  .sublist-content{
    width: 100%;
    border-left: 0.3em solid #414a67;
    margin-bottom: 0.6em;
    padding: 0.5em 0;
  }

  .product{
    font-weight: 500;
    margin-left: 1.5em;
    color: #363d55;
  }

  .amount{
    color: #414a67;
    margin-left: 20%;
  }

  .icon-container{
    width: 5em;
    margin: 1.2em;
    align-items: center;
  }

  .product-title{
    margin-bottom: 1em;
  }
  .hide{
    display: none;
  }
  .error{
    color: #ff465a;
  }

  .edit{
    margin-left: auto;
    color: #666bf3;
  }

  .edit,
  .delete{
    background-color: transparent;
    cursor: pointer;
    margin-right: 1.5em;
    border: none;
    color: #008fff;
    
  }
  .delete{
    color: #ff465a;
  }
  
  .card-deck {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  flex: 1 0 auto;
}

.table tbody td{
    vertical-align: middle;
    }
    .btn-incre, .btn-decre{
    box-shadow: none;
    font-size: 25px;
    }
